body {
	background-color: #141414;
}

img {
    image-orientation: from-image;
}
form {
	padding-top: 30px;
}
.btn-purple {
	background-color: #373165;
	color: #FFFFFF;
	border-radius: 15px;
}

.btn-purple:hover{
	color: #000000;
	background-color: #FF7B05;
}

.btn-menu {
	background-color: #373165;
	color: #FFFFFF;
	border-radius: 15px;
	border-bottom: 2px solid #000000;
	float: left;
}

.btn-menu:hover, .btn:focus{
	color: #FF7B05;
	background-color: #373165;
	outline: none;
}

.dropdown-menu {
	margin-top: 35px;
}

.header {
	background-color: #373165;
	padding-top: 5px;
	height: 35px;
	border-top: 1px solid #000000;
	border-bottom: 2px solid #000000;
	text-align: center;
}
.header .appLogo {
	padding-top: 4px;
}
.header .devLogo {
	float: right;
	padding-top: 2px;
}

.content {
	margin-bottom: 60px;
}

.content .breadCrumbs {
	position: relative;
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
}

/*.content .albumCover {
	border: 5px solid #D9D6EC;
	background-size: auto 140%;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	padding-top: 100px;
	margin-top: 30px;
	text-align: center;
}
.content .albumCover .btn-purple {
	padding: 20px;
}
*/
.content .albumCover {
	border: 0 solid #141414;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 250px;
	padding-top: 150px;
	margin-top: 30px;
	text-align: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0;
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,1);
}
.content .albumCover:hover {
	border-radius: 15px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	cursor: pointer;
}

.content .videoThumb {
	border: 0 solid #141414;
	background-color: #000000;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	margin-top: 30px;
	text-align: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0;
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,1);
	position: relative;
}
.content .videoThumb:hover {
	border-radius: 15px;
	border-top-right-radius: 60px;
	cursor: pointer;
}
.content .videoThumb .embed-responsive{
	top: 50%;
	transform: translateY(-50%);
	max-height: 100%;
}
.content .albumCover .btn-purple {
	padding: 15px;
}
.content .albumCover:hover .btn-purple {
	padding: 15px;
	color: #000000;
	background-color: #FF7B05;
}
.content i.backTile {
	font-size: 2em;
	color: #303030;
}
.content .albumTile {
	border: 5px solid #D9D6EC;
	background-size: auto 140%;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	margin-top: 10px;
}

.content .albumPhoto {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: auto;
	height : 85vh;
	margin-top: 10px;
}

.content p.caption {
	font-weight: bold;
	font-style: italic;
	font-size: 13px;
	text-align: center;
	padding: 0;
	margin: 0;
	padding-top: 10px;
}

.footer {
	position: fixed;
	bottom: 0px;
	background-color: #373165;
	height: 20px;
	border-top: 2px solid #292549;
	border-bottom: 1px solid #000000;
}

.footer p.copyrightTxt {
	font-size: 10px;
	color: #FFFFFF;
	text-align: right;
	padding: 0;
	margin: 0;
}

.followWrap{
	position: relative;
  	z-index: 10;
}
.followMeBar {
  background: #1E1E1E;
  padding: 10px 20px;
  color: #FFFFFF;
}
.followMeBar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 0;
}
.followMeBar.fixed.absolute {
  position: absolute;
}


.sectionWrapper{
	background-color: #1E1E1E;
	padding: 10px 20px;
	color: #FF7B05;
	width: 100%
	height: 45px;
	min-height: 45px;
	margin-top: 30px;

	position: relative;
	z-index: 10;
}
.sectionHeader{
	font-size: 20px;
}
.sectionEmbed {
}
.sectionFixed {
	background-color: #1E1E1E;
	padding: 10px 20px;
	color: #FF7B05;
	width: 100%;
	height: 45px;

	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
}


.exibeoBox {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	display: none;
}

.exibeoBox .blackOut {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .95);
	position: fixed;
	z-index: 200;
}
.exibeoBox .blackOut .overlay {
	position: relative;
}
.exibeoBox .contentBox {
	min-height: 99vh;
	max-height: 99vh;
	height: 99vh;
	text-align: center;
	position: relative;
}
.exibeoBox .contentBox #blurEffect {
	width: auto;
	height: auto;
	max-height: 100%;
	filter: blur(20px);
	-webkit-filter: blur(20px);
	opacity: 0.6;
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
	background-size: contain;
	top: 50%;
	transform: translateY(-50%);
}
.exibeoBox .contentBox #exibeoBoxImg {
	width: auto;
	height: auto;
	max-height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 4px auto;
	position: relative;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	display: none;
}
.exibeoBox .contentBox #loadingImg {
	margin: 4px auto;
	position: relative;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
}
.exibeoBox #photoCaptionBox {
	position: absolute;
	bottom: 30px;
	background-color: rgba(255,255,255, .65);
	color: #000000;
	box-shadow: 0 0 5px #000000;
	z-index: 3;
	left: 25%;
	right: 25%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	cursor: pointer;
	display: none;
}
.exibeoBox #editCaption{
	position: absolute;
	bottom: 25%;
	z-index: 3;
	left: 25%;
	right: 25%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	display: none;
}
.exibeoBox .closeExibeoBoxBtn {
	font-size: 2em;
	color: #FFFFFF;
	margin-top: 20px;
	padding: 10px;
	border: solid 1px #FFFFFF;
	border-radius: 30px;
	cursor: pointer;
	
	position: absolute;
	top: 5%;
	z-index: 3;
	right: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-shadow: 5px 5px 5px #000000, 0 0 5px #000000;
	box-shadow: 0 0 5px #000000;
}

.exibeoBox #lastPhotoBtn {
	position: absolute;
	top: 50%;
	color: #FFFFFF;
	z-index: 3;
	left: 2%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	cursor: pointer;
	font-size: 3em;
	text-shadow: 5px 5px 5px #000000, 0 0 5px #000000;
	display: none;
}

.exibeoBox #nextPhotoBtn {
	position: absolute;
	top: 50%;
	color: #FFFFFF;
	z-index: 3;
	right: 2%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	cursor: pointer;
	font-size: 3em;
	text-shadow: 5px 5px 5px #000000, 0 0 5px #000000;
	display: none;
}